<section class="s-map container nopadding">
	<h2 class="section__heading s-map__heading">what's goin on right now</h2>
	<div id="map">
		<iframe 
			src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d55184327.12414659!2d10.251198899999892!3d32.41422827239386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1503682962496" 
			width="100%" 
			height="430" 
			frameborder="0" 
			style="border:0" 
			allowfullscreen>	
		</iframe>
		<!-- <img src="./assets/img/sections/s-map/map.jpg" alt="map" class="map__image responsive">
		<span class="map__marker" id="map__marker">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" 
			viewBox="0 0 39.000000 53.000000"
			preserveAspectRatio="xMidYMid meet">
		
			<g transform="translate(0.000000,53.000000) scale(0.100000,-0.100000)"
			stroke="none">
			<path d="M115 511 c-67 -31 -115 -102 -115 -168 1 -60 78 -200 174 -317 l24
			-28 72 101 c77 107 120 196 120 246 0 38 -31 104 -61 132 -58 53 -144 66 -214
			34z m155 -23 c105 -54 114 -201 18 -270 -26 -18 -46 -23 -93 -23 -69 0 -114
			25 -142 78 -23 44 -21 116 3 158 22 39 93 79 139 79 17 0 51 -10 75 -22z"/>
			<path d="M119 467 c-45 -30 -71 -82 -65 -130 20 -168 262 -168 282 0 10 78
			-60 153 -141 153 -27 0 -54 -8 -76 -23z m101 -7 c12 -7 8 -12 -20 -24 -72 -31
			-105 -97 -55 -110 20 -5 25 -13 25 -39 0 -18 5 -38 12 -45 17 -17 -3 -16 -46
			2 -23 10 -38 25 -48 53 -21 50 -13 89 26 129 43 43 75 54 106 34z m-2 -63 c6
			10 13 15 17 11 10 -9 -13 -48 -28 -48 -17 0 -37 21 -37 39 0 11 4 11 19 -3 18
			-17 20 -17 29 1z m95 -67 c18 -16 -38 -90 -67 -90 -10 0 -6 40 5 63 9 16 9 22
			0 25 -6 2 -11 8 -11 13 0 9 60 1 73 -11z"/>
		</g>
			</svg>
		</span> -->
<p class="text s-text text-center nomargin">All your booked trips, day tours, excursions, entry tickets, activities and other things to do are always double checked by our destination manager, who is also your human contact, support and advise at the destination.</p>
</div>
</section>
<section class="s-reviews">
	<div class="container nopadding">
		<div class="row no-gutters justify-content-between">
			<h2 class="section__heading s-reviews__heading col-12">ratings and reviews</h2>
			<div class="col-lg-7">
				<div class="review__main nopadding">
					<div class="review__img review__img--large" style="background-image: url(./assets/img/sections/s-reviews/main-img.jpg);">
						<div class="image-overlay">
							<div class="row overlay__top-block overlay__top-block--large no-gutters">
								<p class="trip__feature">best destination</p>
								<span class="rating__stars">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</span>
							</div>
							<div class="row overlay__bottom-block overlay__bottom-block--large align-items-end no-gutters">
								<h4 class="trip__heading"><a class="trip__link" href="#">Andaman islands</a> <span class="trip__price">from <strong>&#36; 799</strong></span></h4>
								<ul class="trip__description">
									<li><strong class="trip__description--strong">192</strong> Day Tours, Trips and Activities to do;</li>
									<li><strong class="trip__description--strong">244</strong> Holliday Accomodations;</li>
									<li><strong class="trip__description--strong">42</strong> kinds of local Rentals &amp; Services</li>
								</ul>
								<a href="#" class="button trip__button ">Shop now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="review__secondary-block row no-gutters justify-content-between">
					<div class="review__secondary">
						<div class="review__img review__img--small" style="background-image:url(./assets/img/sections/s-reviews/sub-img-1.jpg)">
							<div class="image-overlay">
								<div class="row overlay__top-block overlay__top-block--small no-gutters">
									<p class="trip__feature trip__feature--small">best trip activity</p>
									<span class="rating__stars rating__stars--small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>
								<div class="row overlay__bottom-block overlay__bottom-block--small align-items-end no-gutters">
									<h4 class="trip__heading trip__heading--small">
										<a class="trip__link" href="#">Carpathian mountains</a> <span class="trip__price trip__price--small">from <strong>&#36; 799</strong></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="review__secondary">
						<div class="review__img review__img--small" style="background-image:url(./assets/img/sections/s-reviews/sub-img-2.jpg)">
							<div class="image-overlay">
								<div class="row overlay__top-block overlay__top-block--small no-gutters">
									<p class="trip__feature trip__feature--small">best trip activity</p>
									<span class="rating__stars rating__stars--small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>
								<div class="row overlay__bottom-block overlay__bottom-block--small align-items-end no-gutters">
									<h4 class="trip__heading trip__heading--small">
										<a class="trip__link" href="#">Carpathian mountains</a> <span class="trip__price trip__price--small">from <strong>&#36; 799</strong></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="review__secondary">
						<div class="review__img review__img--small" style="background-image:url(./assets/img/sections/s-news/news-1.jpg)">
							<div class="image-overlay">
								<div class="row overlay__top-block overlay__top-block--small no-gutters">
									<p class="trip__feature trip__feature--small">best trip activity</p>
									<span class="rating__stars rating__stars--small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>
								<div class="row overlay__bottom-block overlay__bottom-block--small align-items-end no-gutters">
									<h4 class="trip__heading trip__heading--small">
										<a class="trip__link" href="#">Carpathian mountains</a> <span class="trip__price trip__price--small">from <strong>&#36; 799</strong></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="review__secondary">
						<div class="review__img review__img--small" style="background-image:url(./assets/img/sections/s-news/news-2.jpg)">
							<div class="image-overlay">
								<div class="row overlay__top-block overlay__top-block--small no-gutters">
									<p class="trip__feature trip__feature--small">best trip activity</p>
									<span class="rating__stars rating__stars--small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>
								<div class="row overlay__bottom-block overlay__bottom-block--small align-items-end no-gutters">
									<h4 class="trip__heading trip__heading--small">
										<a class="trip__link" href="#">Carpathian mountains</a> <span class="trip__price trip__price--small">from <strong>&#36; 799</strong></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="review__secondary">
						<div class="review__img review__img--small" style="background-image: url(./assets/img/sections/s-news/news-2.jpg)">
							<div class="image-overlay">
								<div class="row overlay__top-block overlay__top-block--small no-gutters">
									<p class="trip__feature trip__feature--small">best accomodation</p>
									<span class="rating__stars rating__stars--small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</span>
								</div>
								<div class="row overlay__bottom-block overlay__bottom-block--small align-items-end no-gutters">
									<h4 class="trip__heading trip__heading--small">
										<a class="trip__link" href="#">Andaman islands</a> <span class="trip__price trip__price--small">from <strong>&#36; 799</strong></span>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="review__controls">
					<button class="button more__button button__next-image" onclick="return false">
						more
					</button>
					<span class="more__image-dots">
						<a href="#" class="text more__text">View all tripspoint ratings</a>
					</span>
					</div>
			</div>


			<aside class="col-lg-4 offset-lg-1 review__aside-block">
			<div class="slick">
				<div class="review__quote">
					<div class="quote__content">
						<p class="quote__heading">
							The most interesting museum I ever saw visiting Europe
						</p>
						<div class="quote__rd row no-gutters justify-content-between">
							<div class="rating__stars rating__stars--small rating__stars--quote">
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<span class="rating__count">(3.3)</span>
							</div>
							<time datetime="2016-09-13" class="quote__dt">13 Sep 2016</time>
						</div>
						<blockquote cite="#">
							<p class="quote__text js-hidden-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eius ducimus blanditiis commodi! Voluptatum consectetur eligendi animi debitis nesciunt numquam.</p>
							<span class="quote__link js-open-link">Read full review <i class="fa fa-angle-right" aria-hidden="true"></i></span>
							<span class="quote__link js-close-link">Close full review</span>
						</blockquote>
					</div>
					<div class="quote__author">
						<div class="author__avatar" style="background-image: url(./assets/img/sections/s-reviews/review-1.jpg)"></div>
						<div class="author__info">
							<div class="info__top">
								<cite class="author__name">Edvard T</cite>
								<p class="author__location">California, USA</p>
							</div>
							<div class="info__bot">
								<a href="#" class="author__link">Travelers blog <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>	
				</div>
				<div class="review__quote">
					<div class="quote__content">
						<p class="quote__heading">
							The most interesting museum I ever saw visiting Europe
						</p>
						<div class="quote__rd row no-gutters justify-content-between">
							<div class="rating__stars rating__stars--small rating__stars--quote">
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<span class="rating__count">(3.3)</span>
							</div>
							<time datetime="2016-09-13" class="quote__dt">13 Sep 2016</time>
						</div>
						<blockquote cite="#">
							<p class="quote__text js-hidden-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ipsa, quod doloremque odio quas dolorum deleniti temporibus nihil in commodi!</p>
							<span class="quote__link js-open-link">Read full review <i class="fa fa-angle-right" aria-hidden="true"></i></span>
							<span class="quote__link js-close-link">Close full review</span>
						</blockquote>
					</div>
					<div class="quote__author">
						<div class="author__avatar" style="background-image: url(./assets/img/sections/s-reviews/review-2.jpg)"></div>
						<div class="author__info">
							<div class="info__top">
								<cite class="author__name">Edvard T</cite>
								<p class="author__location">California, USA</p>
							</div>
							<div class="info__bot">
								<a href="#" class="author__link">Travelers blog <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>	
				</div>
				<div class="review__quote">
					<div class="quote__content">
						<p class="quote__heading">
							The most interesting museum I ever saw visiting Europe
						</p>
						<div class="quote__rd row no-gutters justify-content-between">
							<div class="rating__stars rating__stars--small rating__stars--quote">
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<span class="rating__count">(3.3)</span>
							</div>
							<time datetime="2016-09-13" class="quote__dt">13 Sep 2016</time>
						</div>
						<blockquote cite="#">
							<p class="quote__text js-hidden-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab temporibus vero est cumque provident sed quibusdam modi fugiat sunt similique unde hic recusandae qui, dignissimos ipsum earum, laudantium veniam ducimus. Commodi cupiditate reiciendis illum sit vel minima explicabo ipsam et aperiam ducimus quae voluptate consectetur voluptatibus nulla reprehenderit quibusdam esse molestiae iure ad quaerat quod, fugiat, amet ab nesciunt. Quo unde et assumenda eaque, temporibus voluptas consectetur. Ducimus, accusamus dolore cumque libero pariatur qui praesentium, quo impedit non repudiandae, quae ipsa tempora sed. Molestiae iure consectetur officia expedita, incidunt repudiandae praesentium molestias a, doloribus adipisci dolor, aspernatur debitis cupiditate aut!</p>
							<span class="quote__link js-open-link">Read full review <i class="fa fa-angle-right" aria-hidden="true"></i></span>
							<span class="quote__link js-close-link">Close full review</span>
						</blockquote>
					</div>
					<div class="quote__author">
						<div class="author__avatar" style="background-image: url(./assets/img/sections/s-reviews/review-3.jpg)"></div>
						<div class="author__info">
							<div class="info__top">
								<cite class="author__name">Edvard T</cite>
								<p class="author__location">California, USA</p>
							</div>
							<div class="info__bot">
								<a href="#" class="author__link">Travelers blog <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>	
				</div>
				<div class="review__quote">
					<div class="quote__content">
						<p class="quote__heading">
							The most interesting museum I ever saw visiting Europe
						</p>
						<div class="quote__rd row no-gutters justify-content-between">
							<div class="rating__stars rating__stars--small rating__stars--quote">
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<span class="rating__count">(3.3)</span>
							</div>
							<time datetime="2016-09-13" class="quote__dt">13 Sep 2016</time>
						</div>
						<blockquote cite="#">
							<p class="quote__text js-hidden-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, deleniti?</p>
							<span class="quote__link js-open-link">Read full review <i class="fa fa-angle-right" aria-hidden="true"></i></span>
							<span class="quote__link js-close-link">Close full review</span>
						</blockquote>
					</div>
					<div class="quote__author">
						<div class="author__avatar" style="background-image: url(./assets/img/sections/s-reviews/review-4.jpg)"></div>
						<div class="author__info">
							<div class="info__top">
								<cite class="author__name">Edvard T</cite>
								<p class="author__location">California, USA</p>
							</div>
							<div class="info__bot">
								<a href="#" class="author__link">Travelers blog <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>	
				</div>
				<div class="review__quote">
					<div class="quote__content">
						<p class="quote__heading">
							The most interesting museum I ever saw visiting Europe
						</p>
						<div class="quote__rd row no-gutters justify-content-between">
							<div class="rating__stars rating__stars--small rating__stars--quote">
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star checked" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<span class="rating__count">(3.3)</span>
							</div>
							<time datetime="2016-09-13" class="quote__dt">13 Sep 2016</time>
						</div>
						<blockquote cite="#">
							<p class="quote__text js-hidden-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sit, porro quos eum reiciendis, magnam ad itaque exercitationem aliquam explicabo! Sed rerum numquam, sunt, tempora soluta quae dignissimos dolorum labore officia mollitia deserunt. Iure eaque sunt est officiis doloremque hic beatae a nobis veritatis, facere ut autem deleniti omnis id quibusdam, qui et fuga assumenda. Omnis cumque similique, vitae minus dignissimos sunt distinctio perspiciatis. Necessitatibus quas quo, repellendus odit distinctio, modi non ut cum quisquam, accusamus, ratione velit earum. Velit.</p>
							<span class="quote__link js-open-link">Read full review <i class="fa fa-angle-right" aria-hidden="true"></i></span>
							<span class="quote__link js-close-link">Close full review</span>
						</blockquote>
					</div>
					<div class="quote__author">
						<div class="author__avatar" style="background-image: url(./assets/img/sections/s-reviews/review-5.jpg)"></div>
						<div class="author__info">
							<div class="info__top">
								<cite class="author__name">Edvard T</cite>
								<p class="author__location">California, USA</p>
							</div>
							<div class="info__bot">
								<a href="#" class="author__link">Travelers blog <i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>	
				</div>
				</div>
				<div class="review__controls">
					<button class="button more__button button__next" onclick="return false">
						more
					</button>
					<span class="more__dots">
					<a href="#" class="text more__text">View all Travelers Reviews</a>
					</span>
				</div>
			</aside>
		</div>
	</div>

</section>
<section class="s-listings">
	<h2 class="section__heading s-listings__heading">new listings</h2>
	<div class="container nopadding">
		<div class="row no-gutters gallery justify-content-between">
			<div class="gallery__column">
			<span class="gallery__heading">Holiday Accomodations</span>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-1.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-2.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-3.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			</div>
			<div class="gallery__column">
			<span class="gallery__heading">Trips, Tours &amp; Activities</span>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-4.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-5.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-6.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			</div>
			<div class="gallery__column">
			<span class="gallery__heading">Local Rentals &amp; Services</span>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-7.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-8.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image gallery__image--in-column" style="background-image: url(./assets/img/sections/s-listings/listing-9.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Caribbean Islands</br> 
						Cruise - days from Miami
					</h4>
					<span class="trip__price trip__price--small trip__price--bg">from <strong>&#36; 799</strong></span>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</section>
<section class="s-news">
	<h2 class="section__heading s-news__heading">news</h2>
	<div class="container nopadding">
		<div class="row no-gutters gallery justify-content-between">
			<div class="gallery__image" style="background-image: url(./assets/img/sections/s-news/news-1.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Very important news</br>
						came from India
					</h4>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image" style="background-image: url(./assets/img/sections/s-news/news-2.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Very important news</br>
						came from India
					</h4>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image" style="background-image: url(./assets/img/sections/s-news/news-3.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Very important news</br>
						came from India
					</h4>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image" style="background-image: url(./assets/img/sections/s-news/news-4.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Very important news</br>
						came from India
					</h4>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image" style="background-image: url(./assets/img/sections/s-news/news-5.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Very important news</br>
						came from India
					</h4>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="gallery__image" style="background-image: url(./assets/img/sections/s-news/news-6.jpg);">
				<div class="image-overlay image-overlay--gallery">
					<h4 class="trip__heading trip__heading--small trip__link js-trip-link">
						Very important news</br>
						came from India
					</h4>
					<div class="trip__content">
						<p class="trip__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perspiciatis aut enim. Aliquam laudantium, cum ut repudiandae libero! Exercitationem, animi. Voluptatum ullam commodi explicabo asperiores nostrum voluptates necessitatibus ipsum, placeat, rem inventore enim, minima, ex! In fugiat maxime quisquam pariatur.</p>
						<a href="#" class="trip__sublink">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		<a href="#" class="button s-news__button">View all news</a>
		</div>

	</div>
</section>
