.section__heading{
	font-family: $GothamProBlack;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 3rem;
	color: $color_blue;  
	text-align: center; 
	line-height: 1em;        
}
.s-map{
	&__heading{
		padding: 30px 0 40px;  
	} 
	&__map{
		position: relative;
		

	}
}
.map{
	&__marker{
		display: block;
		position: absolute;
		fill: $color_blue;
		width: 40px;
		top: 19.5%;
		left: 46.3%;
		cursor: pointer;
	}
	&__image{
		border: 1px solid $color_blue;
		width: 100%;
		height: 430px; 
	}
}
.text{
	font-family: $GothamProRegular;
	font-size: 1.4rem;
	color: $color_text;
}
.s-text{
	padding: 10px 140px 30px;
}
.s-reviews{
	background-color: $color_light-grey;
	padding-bottom: 60px;
	&__heading{
		padding: 45px 0;
	}
}
.review{
	&__controls{
		display: flex;
		align-items: center;
		margin-top: 60px;
	}
	&__img{
		border-radius: 5px;
		display: block;
		background-size: cover;
		background-position: center center;
		&--small{
			height: 195px;
		}
		&--large{
			height: 400px;

		}
	}
	&__secondary-block{
		margin: 13px -10px 0;
	}
	&__main,
	&__secondary{
		position: relative;
	}
	&__secondary{
		margin: 0 10px;
	}
	&__more{
		margin-top: 45px;
	}
	&__quote{
		font-family: $GothamProRegular;
		border: 1px solid $color_blue !important;
		margin-bottom: 20px;
	}
}
.image-overlay{
	position: absolute;
	top: 0;
	left: 0;
	color: $color_white;
	width: 100%;
	height: 100%;
	background-color: rgba(#00a8ff, .2);
	border-radius: 5px;
	&--gallery{
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-color: transparent;
		//@include linear-gradient(transparent 0%, transparent 60%, transparent 61%, #4c4b4b 100%);
		transition: background .9s ease;
		&::before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 0;
			@include linear-gradient(transparent 0%, transparent 60%, transparent 61%, #4c4b4b 100%);
			border-radius: 5px;
			transition: background .9s ease;

		}
	}
	&--open{
	/*background: rgba(#4c4b4b, .7);	*/
	&::before{
		background: rgba(#4c4b4b, .7);
		height: 100%;
	}
}
}
.overlay{
	&__top-block,
	&__bottom-block{
		position: absolute;
		width: 100%;
	}
	&__top-block{
		top: 0;
		&--large{
			padding: 50px 50px 0 70px;
		}
		&--small{
			padding: 20px 20px 0 30px;
		}
	}
	&__bottom-block{
		bottom: 0;
		&--large{
			padding: 0 50px 50px 70px;
		}
		&--small{
			padding: 0 20px 20px 30px;
		}
	}
}
.trip{
	&__feature{
		font-family: $GothamProRegular;
		font-size: 1.2rem;
		text-transform: uppercase;
		&--small{
			font-size: 1rem;
		}
	}
	&__heading{
		font-family: $GothamProBold;
		font-size: 2.4rem;
		width: 100%;
		&--small{
			font-size: 1.8rem;
		}
	}
	&__price{
		font-family: $GothamProItalic;
		font-size: 1.2rem;
		strong{
			font-weight: normal;
			font-family: $GothamProBoldItalic;
			font-size: 1.5rem;
		}
		&--small{
			font-size: 1.1rem;
			strong{
				font-size: 1.3rem;
			}
		}
		&--bg{
			padding: 2px 13px;
			margin: 10px 0;
			background-color: rgba($color_white, .2);
			border-radius: 3px;
			align-self: flex-start;
			z-index: 1000;
		}
	}
	&__content{
		z-index: 1000;
	}
	&__link{
		color: inherit;
		cursor: pointer;
		position: relative;
		z-index: 1000;
		&:hover{
			text-decoration: underline;
		}
	}
	&__sublink{
		@extend .quote__link;
	}
	&__text{
		overflow: hidden;
		max-height: 75px;
		margin: 15px 0;
		font-family: $GothamProRegular;
		font-size: 1.2rem;
		line-height: 1.5;
	}
	&__button{
		background: none;
		border-radius: 3px;
		border: 1px solid $color_white;
		padding: 10px 30px;
		margin-left: auto;
		&:hover{
			background-color: rgba($color_white, .2);
		}
	}
	&__description{
		list-style-type: disc;
		list-style-position: inside;
		> li{
			padding: 0;
		}
	}
}
.rating{
	&__stars{
		margin-left: auto;
		height: 1.8rem;
		display: inline-block;
		position: relative;
		svg{
			height: 100%;
			width: auto;
			fill: none;
			stroke: $color_white;
			stroke-width: 2px;
			vertical-align: top;
		}
		&--small{
			height: 1.3rem;
		}
		&--quote{
			margin-left: 0;
			svg{
				stroke: none;
				fill: $color_icon-light;
			}
			.rating__fill{
				svg{
					stroke: none;
					fill: $color_light-blue !important;
				}
			}
		}
	}
	&__fill{
		@extend .rating__stars;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		svg{
			fill: $color_white;
			stroke: $color_white;
		}
		&--small{
			@extend .rating__stars--small;
		}
	}
	&__count{
		color: $color_icon-dark;

		padding-left: 10px;
	}
}
.more{
	&__button{
		padding: 10px 40px;
		line-height: 1;
		font-size: 1.4rem;
		font-family: $GothamProBold;
	}
	&__text{
		@extend .trip__feature;
		text-transform: none;
		padding-left: 15px;
		transition: color $time ease;
		&:hover{
			text-decoration: underline;
			color: darken($color_text, 50%);
		}
	}
	&__dots,
	&__image-dots{
		position: relative;
		display: inline-block;
		width: 100%;
	}
}
.quote{
	&__rating-wrap{
		display: flex;
		align-items: center;
	}
	&__content{
		background-color: $color_white;
		padding: 10px 15px 5px;
	}
	&__heading{
		font-family: $GothamProBold;
		font-size: 1.5rem;
		line-height: 1.2;
		color: $color_blue;
		margin-bottom: 0;
	}
	&__dt{
		@extend .rating__count;
	}
	&__text{
		padding-top: 5px;
		color: $color_blue;
		font-size: 1.3rem;
		margin-bottom: 0;
		line-height: 1.3;
		&--overflow{
			max-height: 55px;
			overflow: hidden;
		}

	}
	&__link{
		font-size: 1.3rem;
		color: $color_light-blue;
		line-height: 1;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	&__author{
		background-color: $color_blue;
		color: $color_white;
		display: flex;
		padding: 5px 15px;
		align-items: center
	}

}
.author{
	&__avatar{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-size: cover;
		background-position: 50% 50%;
	}
	&__info{
		padding-left: 15px;
	}
	&__name{
		font-family: $GothamProBold;
	}
	&__location{
		margin-bottom: 0;
	}
	&__link{
		@extend .quote__link;
		font-size: 1.4rem;
	}
}
.s-listings{
	&__heading{
		padding: 45px 0;
	}
}
.gallery{
	flex-wrap: wrap;
	&__column{
		flex: 0 0 31.8%;
	}
	&__heading{
		font-family: $GothamProBold;
		font-size: 2.1rem;
		color: $color_black;
		display: inline-block;
		padding-bottom: 30px;
	}
	&__image{
		height: 210px;
		position: relative;
		background-size: cover;
		background-position: 50% 50%;
		border-radius: 5px;
		flex: 0 0 31.8%;
		margin-bottom: 23px;
	}
}
.s-news{
	background-color: $color_light-grey;
	&__heading{
		padding: 45px 0;
	}
	&__button{
		margin: 25px auto 45px;
		font-family: $GothamProBold;
		text-transform: none;
		font-size: 1.8rem;
		padding: 8px 20px;
	}
}