//  Variables

// Colors

$bgcolor:                   #ffffff; //main-bg color
$primary_color:             #3f4147; //used on mobile-nav
$border_color:              #a6e8f0; //borders
$color_white:               #ffffff; //the whitest color
$color_blue:                #005096; //headers in section and some blue background
$color_light-blue:          #00bcd4; //buttons
$color_light-grey:          #f8f8f8; //background in sections
$color_black:               #212121; //headers color
$color_text-dark:           #535353; //footer text
$color_icon-dark:           #7c7c7c; //footer icons
$color_icon-light:          #c4c4c4; //header icons


// Fonts

$GothamProRegular: 'GothamProRegular', $helvetica;
$GothamProBlack: 'GothamProBlack', $helvetica;
$GothamProBold: 'GothamProBold', $helvetica;
$GothamProBoldItalic: 'GothamProBoldItalic', $helvetica;

$font-size-base: 10px;

$time: 0.3s;